[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/nerdtree.vim"]
	path = vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/puppet-syntax.vim"]
	path = vim/bundle/puppet-syntax.vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
