[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/nerdtree.vim"]
	path = vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-colors-solarized.vim"]
	path = vim/bundle/vim-colors-solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
