Host *
    UseRoaming no

Host git.local
    IdentityFile ~/.keys/vcs_ehazlett
    Port 10022

Host vcs.evanhazlett.com
    IdentityFile ~/.keys/vcs_ehazlett
    Port 10022

Host github.com
    IdentityFile ~/keys/vcs_ehazlett
    Hostname ssh.github.com
    Port 443

Host git.int
    IdentityFile ~/.keys/vcs_ehazlett

Host localhost
    IdentityFile ~/.keys/vcs_ehazlett

Host bitbucket.org
    IdentityFile ~/.keys/vcs_ehazlett

Host gist.github.com
    IdentityFile ~/.keys/vcs_ehazlett

Host dev
    IdentityFile ~/.keys/home_ehazlett
