Host *
    UseRoaming no

Host github.com
    IdentityFile ~/Sync/home/keys/vcs_ehazlett
    Hostname ssh.github.com
    Port 443

Host git.int
    IdentityFile ~/Sync/home/keys/vcs_ehazlett

Host localhost
    IdentityFile ~/Sync/home/keys/vcs_ehazlett

Host bitbucket.org
    IdentityFile ~/Sync/home/keys/vcs_ehazlett

Host gist.github.com
    IdentityFile ~/Sync/home/keys/vcs_ehazlett

Host dev
    IdentityFile ~/Sync/home/keys/home_ehazlett
